.local {
    color: #383838;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width:47%;
    height: 315px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media(max-width:768px){  
    .local {
        width:100%; 
        margin: 0px 15px 15px 15px; 
    }
}

.local-grid-container {
    padding: 5%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30px 180px 60px;
    grid-template-areas:
		"localtitulo"
		"localmap"
        "localendereco"
		;
}

.local-titulo {
    grid-area: localtitulo;
    text-align: left;
    font-size: 21px;
    line-height: normal;
}

.local-map {
    grid-area: localmap;
}


.local-endereco {
    grid-area: localendereco;

}

.local-endereco-grid-container {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: 30px 30px ;
    grid-template-areas:
		"enderecoicon endereco"
		"enderecoicon tipoendereco"
		;
}

.local-endereco-icon {    
    grid-area: enderecoicon;    
    color: rgb(82, 80, 80);   
    font-size: 18px;    
    margin: auto;
}

.local-endereco-endereco {    
    grid-area: endereco;
}

.local-endereco-tipo {    
    grid-area: tipoendereco;
}

.local-valores-all {    
    text-align: left;
    margin: auto 0 0 0; 
    font-size: 14px;
    line-height: normal;
}

.local-valores-value { 
    text-align: left;
    margin: 0 0 auto 0;
    font-size: 12px;
    line-height: normal;
}