.atividades {
    display: flex;
    width:98%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.atividades-grid-container {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30px 36px 696px;
    grid-template-areas:
		"Ativtitulo"
        "Ativagrupamentos"
		"Ativvalores"
		;
    grid-gap: 15px;
    padding: 5%;
    height: 792px;
}

@media(max-width:768px){  
    .atividades {
        width:100%; 
    }

    .atividades-grid-container {
        grid-template-rows: 30px auto 696px;
    }
}

@media(max-width:1262px){
    .atividades {
        margin: 0px 15px 15px 15px; 
    }
}

.atividades-titulo {
    grid-area: Ativtitulo;
    text-align: left;
    font-size: 21px;
    line-height: normal;
}

.atividades-agrupamento {
    grid-area: Ativagrupamentos;
}

.atividades-agrupamentos-grid-container {
    display: grid;
    grid-template-columns: 36px minmax(34px, auto) 36px minmax(71px, auto) 36px minmax(108px, auto) 36px minmax(63px, auto) 36px minmax(78px, auto);
    grid-template-rows: 36px;
    grid-template-areas:
		"grupototal total grupoatraso atraso grupoandamento andamento grupoprevistas previstas grupoconcluidas concluidas"
		;
    grid-gap: 4px;
}

@media(max-width:768px){  
    .atividades-agrupamentos-grid-container {
        display: grid;
        grid-template-columns: 48px auto;
        grid-template-rows: 36px 36px 36px 36px 36px;
        grid-template-areas:
            "grupototal total" 
            "grupoatraso atraso"
            "grupoandamento andamento" 
            "grupoprevistas previstas" 
            "grupoconcluidas concluidas"
            ;
        grid-gap: 4px;
    }
}

.atividades-agrupamentos-all {    
    text-align: left;
    margin: auto 0; 
    font-size: 16px;
    line-height: normal;
}

.atividades-agrupamentos-total-count {   
    grid-area: grupototal;
    background-color: #242424;
}

.atividades-agrupamentos-total {   
    grid-area: total;
}

.atividades-agrupamentos-atraso-count {   
    grid-area: grupoatraso;
    background-color: #be2c2c;
}

.atividades-agrupamentos-atraso {   
    grid-area: atraso;
}

.atividades-agrupamentos-andamento-count {   
    grid-area: grupoandamento;
    background-color: #1f64be;
}

.atividades-agrupamentos-andamento {   
    grid-area: andamento;
}

.atividades-agrupamentos-previstas-count {   
    grid-area: grupoprevistas;
    background-color: #e07218;
}

.atividades-agrupamentos-previstas {   
    grid-area: previstas;
}

.atividades-agrupamentos-concluidas-count {   
    grid-area: grupoconcluidas;
    background-color: #2b9c35;
}

.atividades-agrupamentos-concluidas {   
    grid-area: concluidas;
}

.atividades-valores {
    grid-area: Ativvalores;
}

.atividades-valores-all {    
    text-align: left;
    margin: 0 0 auto 0;
    font-size: 16px;
    line-height: normal;
}

.atividades-valores-value { 
    text-align: left;
    margin: 0 0 auto 0;
    font-size: 13px;
    line-height: normal;
}

.atividades-valores-all-grid-container {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 30px;
    grid-template-areas:
		"valicon valdescription"
		;
    grid-gap: 10px;
    padding: 5px 5px;
}

.atividades-valores-all-icon {       
    grid-area: valicon;     
    font-size: 24px; 
    margin: auto;
}

.atividades-valores-all-description {          
    grid-area: valdescription; 
    text-align: left;
    margin: auto 0;

}

.atividades-valores-grid-container {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 22px 18px 18px;
    grid-template-areas:
		"ativicon ativdescricao"
        "ativicon ativcontato"
        "ativicon ativdata"
		;
    grid-gap: 0 10px;
    padding: 10px 15px 10px 50px;
}

.atividades-valores-atraso {    
    color: rgb(214, 39, 39); 
}

.atividades-valores-andamento {    
    color: #1f64be;
}

.atividades-valores-previstas {  
    color: #e07218;
}

.atividades-valores-concluidas {    
    color: #2b9c35;
}

.atividades-valores-icon {
    grid-area: ativicon;     
    font-size: 24px;    
    margin: auto;
}

.atividades-valores-descricao {
    grid-area: ativdescricao;
}

.atividades-valores-contato {
    grid-area: ativcontato;
}

.atividades-valores-data {
    grid-area: ativdata;
}