.informacoesGerais {
    display: flex;
    width:47%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.informacoesGerais-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 90%;
}

.informacoesGerais-titulo {
    text-align: left;
    font-size: 21px;
    line-height: normal;
}

.informacoesGerais-centro {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 40px;
}
  
.informacoesGerais-icon {
    background-color: #c0bdbd;
    border-radius: 50%;
    display: table;
    height: 60px;
    width: 60px;   
    font-size: 22px;
    margin-right: 15px;
}

.informacoesGerais-icon span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.informacoesGerais-Identificacao {
    text-align: left;
    line-height: normal;
    flex-grow: 1;
}

.informacoesGerais-Identificacao-container {
    display: flex;
    flex-direction: column; 
}

.informacoesGerais-Identificacao-Nome {
    font-size: 18px;
}

.informacoesGerais-Identificacao-Apelido {
    font-size: 16px;
}

.informacoesGerais-Identificacao-Ativo {
    font-size: 12px;
}

.Identificacao-Ativo {      
    border-radius: 3px;
    background-color: rgb(104, 187, 125);    
    padding: 0 5%;
}

.Identificacao-Inativo {      
    border-radius: 3px;
    background-color: rgb(156, 156, 156);
    padding: 0 5%;
}

.informacoesGerais-Contato {
    display: flex;
    flex-direction: column;
    text-align: left; 
}

.informacoesGerais-Contato-Telefone-container {
    display: flex; 
}

.informacoesGerais-Contato-Telefone-icon {
    font-size: 24px;    
    margin-right: 20px;    
}

.informacoesGerais-Contato-Telefone-numero-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    flex-grow: 1;
}

.informacoesGerais-Contato-Telefone-numero {    
    font-size: 14px;     
}

.informacoesGerais-Contato-Telefone-descricao {    
    font-size: 13px;  
}

.informacoesGerais-Contato-Email-container {
    display: flex;
}

.informacoesGerais-Contato-Email-icon {
    font-size: 24px; 
    margin-right: 15px; 
}

.informacoesGerais-Contato-Email-email-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    flex-grow: 1;
}

.informacoesGerais-Contato-Email-email { 
    font-size: 14px;
}

.informacoesGerais-Contato-Email-descricao {    
    font-size: 13px;     
}

@media(max-width:768px){  
    .informacoesGerais {
        width:100%; 
        margin: 15px; 
    }
}