.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-top {
  height: 48px;
  background-color: #4478e0;
}

.App-grid-container {
  display: grid;
  grid-template-columns: minmax(300px, 25%) minmax(300px, 25%) auto;
  grid-template-rows: minmax(300px, 35%) minmax(100px, 25%) minmax(300px, 35%);
  grid-template-areas:
		"geral local atividade"
		"oportunidade credito atividade"
		"venda titulo atividade"
		;
  grid-gap: 10px;
  padding: 20px;
}
