.App-top {
  color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  height: 48px;
  background-color: #4478e0;
  font-size: 32px;
  text-align: left;
  padding: 0 20px;
}

.App-container {
  display: flex;  
  flex-wrap: wrap;
}

.App-informacoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;  
  width:50%;
}

.App-atividades {
  display: flex;
  width:50%;
}

@media(max-width:1262px){
  
  .App-informacoes {
    display: flex;
    width:100%;   
  }
  
  .App-atividades {
    display: flex;
    width:100%;
  }
}

.App-valores-count {    
  border-radius: 3px;    
  margin: auto;
  padding: 5px 12px;
  color: #ffffff;
}