.App {
  text-align: center;
}

.App-top {
  height: 48px;
  background-color: #4478e0;
  font-size: 32px;
  text-align: left;
  padding: 0 10px;
  color: rgb(252, 252, 252);
}

.App-grid-container {
  display: flex;  
  flex-wrap: wrap;
}

.App-grid-informacoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;  
  width:50%;
}

.App-grid-atividades {
  display: flex;
  width:50%;
}

@media(max-width:1262px){
  
  .App-grid-informacoes {
    display: flex;
    width:100%;   
  }
  
  .App-grid-atividades {
    display: flex;
    width:100%;
  }
}

.App-valores-count {    
  border-radius: 3px;    
  margin: auto;
  padding: 5px 12px;
  color: #ffffff;
}