.Vendas {
    color: #383838;
    grid-area:venda;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 15px 5%;
}

.Vendas-grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30px 125px;
    grid-template-areas:
		"Credtitulo"
		"Credvalores"
		;
    grid-gap: 15px;
}

.Vendas-titulo {
    grid-area: Credtitulo;
    text-align: left;
    font-size: 21px;
    line-height: normal;
}